@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply py-3.5 px-8 uppercase inline-flex gap-3 items-center font-medium text-white transition-all bg-green hover:bg-dark-green;
    }
    .inner-banner {
        @apply lg:h-screen h-auto lg:pt-0 pt-40 flex flex-wrap items-end justify-center;
    }
    .inner-banner-description {
        @apply bg-light-black text-white py-8 xl:py-16;
    }
    /* .inner-banner-description h2 {
        @apply text-4xl leading-10 mb-6 capitalize text-white;
    } */
    .inner-banner-description p {
        @apply text-white opacity-50 mb-6 font-medium;
    }   
    .inner-banner-description span {@apply block lg:text-lg text-off-white-50 mt-6 font-medium text-base;}
    
    .number-pagination {@apply mx-auto max-w-xl w-full flex text-sm w-full justify-between items-center;}
    .number-pagination li a {@apply text-base font-medium leading-8 flex flex-wrap items-center text-black-ish gap-x-3 px-3 border-b-2 border-b-transparent hover:text-green;}
    .number-pagination li:not(:first-child):not(:last-child) a {@apply hover:border-b-green;}

    .number-pagination li.active a {@apply text-green border-b-green;}
    .inner-banner-nbg {
        @apply pt-40 bg-off-white-100;
    }
    .inner-banner-nbg p{
        @apply opacity-50 font-medium leading-7 text-black mt-4;
    }
    .inner-banner-nbg .custom-container{
        @apply px-4 xl:px-0;
    }
    
    .container-right-full {
        padding-left:calc((100vw - 1280px) / 2);
        @apply mx-auto;
    }
    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  .custom-scroll {
    scrollbar-width: auto;
    scrollbar-color: #E7E3D0;
  }

  /* Chrome, Edge, and Safari */
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: #F5F4EC;
    scrollbar-color: #F5F4EC;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #E7E3D0;
    border-radius: 10px;
    
  }

}
@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif capitalize font-medium;
    }
    h1 {}
    h2 {@apply text-3xl leading-10 xl:text-5xl xl:leading-60 4xl:text-6xl 4xl:leading-72;} /*60*/
    h3 {@apply text-2xl leading-8 xl:text-5xl xl:leading-60 text-black-ish;} /*48*/
    h4 {@apply text-xl leading-7 xl:text-4xl xl:leading-44 text-black-ish;} /* 36 */
    h5 {@apply text-xl leading-7 xl:text-3xl xl:leading-10;} /*30*/
    h6 {@apply text-xl leading-7 xl:text-2xl xl:leading-8;} /* 24 */
    
    input[type="text"] {
        @apply border-b border-b-black-ish bg-transparent leading-6 font-medium text-wireframe-dark py-3 max-w-md w-full;
    }
    .custom-form input[type="text"], .custom-form input{
        @apply border rounded border-aplha-black-16 py-3 px-5 text-xs font-medium w-full bg-white max-w-full;
    }
    form textarea{
        @apply border rounded border-aplha-black-16 py-3 px-5 text-xs font-medium w-full bg-white h-28 resize-none;
    }
    .inner-banner-nbg input[type="text"] {
        @apply border-b border-b-black-ish bg-transparent leading-6 font-medium text-wireframe-dark py-3 md:max-w-md w-full max-w-full;
    }
    .inner-banner-nbg .btn{
        @apply md:w-auto w-full md:mt-auto mt-4 md:justify-normal justify-center;
    }
}
@layer utilities {  
    .image-as-object {
        @apply object-cover object-center w-full h-full z-0 group-hover:scale-125 transition-transform;
    }
    .green-label {
        @apply text-base leading-8 uppercase font-medium text-dark-green;
    }
    .label {
        @apply text-base leading-8 uppercase font-medium;
    }
    .component-overlay {
        @apply relative;
        @apply before:absolute before:w-full before:h-full before:bg-component-overlay before:z-0 before:content-[''];
    }
    .content-with-14 {
        @apply text-sm font-medium leading-6 opacity-50;
    }
    .overlay {
        @apply relative;
        @apply before:absolute before:w-full before:h-full before:z-0 before:content-[''];        
    }
    .custom-select-dropdown {
        @apply w-96 h-20 border-b-2 border-b-off-white-50 text-white text-xl leading-8 font-serif px-8 py-1 text-center flex items-center flex-wrap justify-between relative z-20;
    }
    .custom-select-dropdown.show {@apply text-black-ish;}
    .custom-select-dropdown-options {
        display: none;
        @apply absolute shadow-dropdown bg-off-white-100 rounded-b-lg text-lg leading-6 font-serif text-black-ish w-96 z-10;
    }
    .custom-select-dropdown-options.show {display: block;}
    .custom-container {
        @apply mx-auto container;
        @apply 2xl:max-w-screen-2xl;
    }
    .link-with-arrow {
        @apply text-off-white-50 font-medium flex flex-wrap items-center gap-2;
        @apply md:gap-6;
    }
}
.site-header {
    @apply fixed top-0 left-0 right-0 z-zxl;
    @apply xl:w-auto xl:bottom-auto;
}
.site-header .mobile-logo {
    @apply flex flex-wrap items-center justify-between p-4 w-full;
    @apply xl:hidden;
}
.site-header .mobile-logo svg .logo-text {@apply fill-black-ish;}
.site-header nav {
    @apply fixed left-0 top-0 bg-off-white-100 w-full h-full translate-x-[-100%] duration-300;
    @apply sm:w-[375px] sm:translate-x-[-375px];
    @apply xl:w-auto xl:relative xl:bg-transparent xl:h-auto xl:left-auto xl:top-auto xl:translate-x-0;
}
.site-header nav.shown {@apply translate-x-0;}
.site-header .container {
    @apply px-0 flex flex-wrap justify-between mx-auto items-start flex-col;
    @apply xl:px-4 xl:items-center xl:flex-row;
}
.site-header .site-logo {
    @apply px-4 uppercase flex flex-wrap items-center justify-between w-full py-4;
    @apply xl:px-0 xl:w-1/4 xl:py-0;
}
.menu-wrapper {
    @apply flex flex-col w-full gap-x-5 px-4;
    @apply xl:justify-end xl:flex-row xl:w-auto xl:gap-x-10;
}
.inner-heading {
    @apply capitalize font-medium text-base leading-7 px-4 py-6;
    @apply xl:hidden;
}
.mobile-back-btn {
    @apply capitalize font-semibold py-4 px-7 text-base leading-7 flex flex-wrap items-center bg-off-white-50;
    @apply xl:hidden;
}
.inner-menu {
    @apply hidden bg-off-white-100 absolute left-0 right-0 top-0 bottom-0 z-10 pt-1;
    @apply xl:block xl:relative;
}
.inner-menu.shown {@apply block;}
header ul li {@apply xl:border-b xl:border-charcoal-grey-200;  @apply xl:border-none;}
header ul li:last-child {@apply border-none}
header ul li a {
    @apply text-black-ish font-sans text-base font-medium leading-7 flex flex-wrap items-center justify-between py-3.5 gap-1;
    @apply xl:text-white xl:py-0
}
header.header-fixed ul li a {
    @apply text-light-black
}
header.header-fixed .site-logo svg path.logo-text {@apply fill-black-ish}
.member-login-link {
    @apply text-base leading-7 font-medium bg-green text-white inline-flex items-center p-4 absolute bottom-0 left-0 right-0 m-auto rounded-none justify-center;
    @apply xl:text-xs xl:leading-5 xl:px-5 xl:py-2 xl:m-initial xl:relative xl:mb-5 xl:rounded-b-2xl;
}
.member-login-link svg {@apply ms-1;}

.dropdown-menu-heading {
    @apply flex flex-wrap items-center justify-between px-10 xl:px-0;
    @apply text-sm font-medium leading-5 text-black-ish  capitalize mb-6;
    @apply xl:mb-3 xl:text-xs xl:text-green xl:uppercase xl:opacity-50;
}
.dropdown-menu-title {
    @apply text-black font-medium text-sm leading-6 mb-0;
}
.dropdown-menu-content {
    @apply text-black font-medium text-xs leading-4 opacity-50;
}
.dropdown-listing li {@apply xl:mb-6 xl:last:mb-0  }
.dropdown-listing li a {
    @apply text-sm text-black-ish; 
}
.header-dropdown {
    height: calc(100vh - 150px);
    @apply overflow-auto absolute w-full right-0 mx-auto opacity-0 invisible z-down transition-all bg-off-white-100 bottom-16 top-[90px];
    @apply sm:w-[375px];
    @apply xl:w-[900px] xl:left-[-400px] xl:pt-12 xl:group-hover:pt-9 xl:bg-transparent xl:h-auto xl:bottom-auto xl:top-auto xl:group-hover:opacity-100 xl:group-hover:z-10 xl:group-hover:visible xl:overflow-hidden;
}
.header-dropdown.news {
    @apply absolute w-full right-0 mx-auto opacity-0 invisible z-down transition-all bg-off-white-100 bottom-16 top-[90px];
    @apply sm:w-[375px];
    @apply xl:w-[640px] xl:left-[-320px] xl:bg-transparent xl:group-hover:opacity-100 xl:group-hover:visible xl:group-hover:z-10 xl:pt-12 xl:group-hover:pt-9  xl:h-auto xl:bottom-auto xl:top-auto;
}
.dropable .header-dropdown > div {
    @apply xl:shadow-drpodownMenu;
}
.dropable .header-dropdown.news.shown,
.dropable .header-dropdown.shown {
    @apply opacity-100 z-10 visible;
}
header nav {
    @apply w-full flex flex-col flex-wrap items-start;
    @apply xl:w-3/4 xl:items-end xl:pb-3.5 xl:px-0;
}
header nav .menu-wrapper {
    @apply overflow-auto;
    @apply xl:overflow-visible;
}
@media screen and (min-width: 1200px) {
    header ul li:hover a {@apply !text-black;}
}
@media screen and (max-width: 1199px) {
    header .menu-wrapper {
        height: calc(100vh - 160px)
    }
}
/* Homepage */
/* Voice of Queensland */
.grower-parteners {
    @apply flex justify-center bg-cover pt-16;
    @apply xl:pt-24;
}
.grower-parteners h4 {
    @apply text-center mb-0 capitalize;
    @apply xl:mb-24;
}
.grower-parteners .voice-of-queensland {
    @apply before:hidden before:content-[''] before:bg-off-white-100 before:w-full before:bottom-0 before:absolute before:bottom-0 relative z-0;
    @apply sm:before:top-[50px];
    @apply md:before:block;
    @apply lg:before:top-[100px];
}
.grower-parteners .voice-of-queensland .queensland {
    @apply bg-off-white-100 flex flex-wrap items-center relative mt-16 z-50;
    @apply md:bg-transparent md:flex-row-reverse;
    @apply xl:mt-0;
}
.grower-parteners .content-column {
    @apply w-full px-4 py-12;
    @apply sm:px-7;
    @apply md:w-1/2 md:pl-0 md:pt-12 md:pb-0;
    @apply lg:pt-24;
    @apply xl:px-16 xl:pt-24 xl:pb-0;
}
.grower-parteners .image-column {
    @apply w-full mx-auto px-4 self-end;
    @apply sm:w-3/5 md:w-1/2;
}

/* For Growers */
.advocacy-membership {@apply my-6; @apply md:my-16;}
.advocacy-membership .custom-container {@apply px-4 flex flex-col gap-6; @apply md:flex-row;}
.advocacy-membership .advocacy-column {@apply w-full overflow-hidden relative even:flex even:flex-wrap even:self-start; @apply md:w-1/2 odd:md:mt-64;}
.advocacy-membership .advocacy-column .content-part {@apply transition-all absolute bottom-0 left-0 right-0 w-full p-6; @apply lg:p-16;}
.membership-features .custom-container{@apply px-4 md:px-0;}
/* Cane to Coast */
.coast-list ul li a {
    @apply w-full flex items-center justify-between text-white py-6 md:py-8 font-serif font-medium text-lg leading-7  border-b border-b-off-white-50 cursor-pointer;
    @apply md:text-2xl md:leading-8;
}

/* Classified Outer */
.classified-outer {
    @apply bg-off-white-100 py-14; @apply lg:py-24; @apply xl:py-32;
}
.classified-inner {
    @apply flex flex-col justify-between pb-8 relative; @apply xl:pb-14; @apply md:flex-row;
}
.classified-inner > div {
    @apply even:flex even:justify-around even:flex-col; @apply md:even:items-end;   
}

/* Latest News */
.latest-news {
    @apply py-14 px-4; @apply lg:py-24; @apply xl:py-32;
    @apply pb-0 pt-7 lg:pt-12 md:pb-0 lg:pb-24 xl:pt-16 xl:pb-32 bg-off-white-100;
}

.news-content{
   @apply  w-full lg:w-3/5 lg:pl-11 lg:py-11 md:py-0 py-8;
  
}
.featured-news .news-content {
    @apply p-0
}
.latest-news .news-top {
    @apply flex justify-between items-center pb-8; @apply xl:pb-14;
}
.latest-news .news-top > div {
    @apply w-full even:hidden even:justify-end;
    @apply md:even:flex;
    @apply xl:w-1/2;
}
.latest-news .news-feature-data {
    @apply flex flex-col gap-x-6; @apply xl:flex-row;
}
.latest-news .news-feature-data > div {
    @apply w-full odd:overflow-hidden; @apply xl:w-1/2;
}
/* .latest-news .news-top-area {@apply pt-6 md:pt-0 pb-6;} */

.latest-news .grid-view .news-top-area {@apply py-6; @apply xl:py-10;}
.latest-news .list-view .news-top-area {@apply py-6; @apply lg:pb-7 pt-0;}
.latest-news .news-top-area .date {@apply font-medium text-black-ish opacity-50 lg:pl-8 pl-0;}
.latest-news .list-view .news-title {@apply pb-0;}
.latest-news .news-desc {@apply text-base font-medium leading-7;}
.grid-view {@apply pb-10 xl:pb-16 mb-10 xl:mb-0;}
.grid-view .news-title {@apply pb-6;}
.list-view {@apply pb-7 md:pb-10 mb-7 md:mb-8 flex-col md:flex-row xl:last:mb-0 xl:last:pb-0;}


/* Explore Information */
.explore-info .top-title {
    @apply bg-dark-green w-full py-12 pb-12 text-center;
}

/* Information Hub */
.information-hub-wrap {
    @apply w-full h-32 flex flex-wrap items-center justify-center relative text-white text-center overflow-hidden transition-all;
    @apply md:flex-row md:h-auto;
    @apply before:absolute before:w-full before:h-full before:bg-black before:z-10 before:opacity-0 before:content-[''] hover:before:opacity-50 before:transition-all;
}
.information-hub-wrap {@apply h-32; @apply md:h-72;}
.information-hub-wrap.two-col {@apply md:w-1/2; @apply xl:h-400;}
.information-hub-wrap.four-col {@apply md:w-1/2; @apply xl:w-1/4;}
.information-hub-wrap.three-col{@apply md:w-1/2; @apply xl:w-1/3 w-full;}
.information-hub-wrap .information-hub-content {@apply absolute top-auto left-auto bottom-auto right-auto z-20;}
.information-hub-wrap .information-hub-title.small-title {@apply text-xl leading-7;}
.information-hub-wrap .information-hub-link {@apply text-sm leading-6 font-medium;}
.news-pic img{    @apply h-full object-cover;}
/* Banner */
.bg-video {
    @apply relative min-h-screen h-826 md:h-768 xl:h-screen;
}
.bg-video video {
    @apply object-cover object-center min-h-screen h-826 md:h-768 xl:h-full w-full;
}
.bg-video .bg-banner-overlay {
    @apply absolute top-0 bottom-0 left-0 right-0 overflow-hidden px-4;
}
.banner-content {
    @apply pt-28 mx-auto flex flex-col items-center justify-between text-center min-h-screen h-826 md:h-768 xl:h-full lg:max-w-screen-lg;
}
.banner-content > div {@apply w-full first:py-10per;}
.banner-content h1 {@apply text-light-green text-5xl leading-60 xl:text-6xl xl:leading-88 4xl:text-7xl 4xl:leading-88;}
.banner-content .sub-title {@apply font-medium text-white capitalize text-lg xl:text-2xl mt-3;}
.banner-content h2 {@apply capitalize text-white text-base xl:text-3xl leading-7 xl:leading-10;}
.banner-content .quote-text {@apply text-off-white-50 font-medium text-sm xl:text-lg leading-6 xl:leading-8 mt-4;}
.message-wrap {
    @apply max-w-3xl mx-auto flex flex-wrap items-center flex-col;
    @apply xl:max-w-full;
}

/* News */
.grid-view-wrap {
    @apply flex md:items-stretch md:flex-row flex-col gap-x-6;
}
.view {@apply flex flex-wrap;}

.student-featured-resources .list-view {@apply first:border-t first:border-t-off-white-50 last:border-b last:border-b-off-white-50 mb-0 pb-0;}

.grid-view > div {
    @apply w-full;
}
.badage {
    @apply text-sm font-medium leading-7 uppercase text-white rounded-full inline-block px-6 py-px;
}
.news-badage {@apply bg-blue opacity-100 text-white;}
.resources-badage {@apply bg-off-white-500;}

.news-wrap {@apply border-b border-off-white-50;}
.recent-news.last-news {@apply border-b-0;}

.related-resource .grid-view {@apply pb-0;}
.related-resource .grid-view .news-title {@apply text-xl;}
.news-top-area .date{
    @apply last:block lg:last:inline-block last:font-medium last:text-black-ish last:opacity-50 last:lg:pl-8 last:pl-0 last:lg:py-0 last:py-4; 
}

/* Classified */
.classified-slider-wrapper .element > div {
    @apply border border-aplha-black-16 bg-white rounded pt-8 px-6 pb-6 pl-6; @apply xl:pr-14;
}
/* .classified .element {
    margin: 0 12px;
} */
.slick-list {
    padding-left: 0px!important;
}
.classified-title {
    @apply text-xl leading-8 text-black-ish mb-6;
}
.classified p {
    @apply text-sm font-medium leading-6 text-black-ish opacity-50;
}
.classified .classified-icon-wrap {
    @apply text-sm leading-6 text-black-ish font-medium mt-5;
}
.slider-arrow-wrap,
.classified-slider-arrow {
    @apply flex flex-wrap items-center
}
/* Footer */
.footer-banner {
    @apply component-overlay py-32 flex flex-wrap items-center justify-center bg-no-repeat bg-cover bg-bottom text-center px-4;
    @apply xl:h-screen;
}
.footer-banner p {
    @apply text-base leading-8 xl:text-lg xl:leading-8 text-off-white-50 pt-5 pb-5 font-medium;
}
footer ul li a {
    @apply font-medium text-white transition-all hover:text-green;
}
footer ul.who-we-are li a {
    @apply text-lg font-serif font-normal;
}
.footer-bottom {@apply text-xs text-white opacity-50;}
.footer-bottom .custom-container {
    @apply flex flex-col px-4 py-6 lg:pb-12 md:flex-row justify-between md:justify-between items-center lg:items-start gap-y-6;
}
.footer-bottom a {@apply transition-all font-medium hover:text-green;}
.top-footer {
    @apply flex-col px-4 flex flex-wrap justify-between py-16 xl:py-24 xl:pb-12 lg:border-off-white-50 lg:border-b lg:flex-row gap-y-8 xl:gap-y-0;
}
.footer-top-right {
    @apply text-base font-medium text-white gap-y-8;
    @apply flex justify-between items-start md:items-center w-full xl:w-4/6 flex-col md:flex-row;
}
.middle-footer {
    @apply px-4 custom-container flex flex-wrap justify-between pt-0 lg:py-24 lg:pb-14 text-white lg:border-b lg:border-off-white-50 flex-col md:flex-row
}
.accordion-title {
    @apply text-lg text-white py-6 pr-4 lg:pb-7 lg:pt-0 flex flex-wrap items-center gap-x-4 justify-between border-b border-b-off-white-100 lg:border-b-0;    
}
.accordion-title.first {@apply border-t border-t-off-white-100 lg:border-t-0;}
.accordion-content {@apply hidden lg:flex flex-wrap flex-col pt-6 lg:pt-0;}
.accordion-content.show {@apply flex;}

/* Advocacy */
/* .container {@apply px-4;} */
* div p:last-child{@apply mb-0;}

.four-colsec-with-hover-info .col {@apply mb-12 px-0 w-full relative overflow-hidden;}
.four-colsec-with-hover-info .text-col {@apply duration-700 min-h-1/2 w-auto absolute -bottom-full p-8 left-0 right-0 w-full bg-white text-black transition-all;}
.four-colsec-with-hover-info .text-col h6 {@apply pb-5;}
.four-colsec-with-hover-info .text-col p {@apply text-black font-medium opacity-50;}
.four-colsec-with-hover-info .text-col a {@apply flex gap-3 items-center my-3 text-sm font-medium;}
.four-colsec-with-hover-info .col .img-col {@apply h-[440px] shadow-gallery;}
.four-colsec-with-hover-info .img-col img {
    @apply h-full object-cover object-center w-full transition-all;
}

.four-colsec-with-hover-info .col-grid-4 .col {@apply sm:w-1/2 lg:w-1/3 xl:w-1/4 px-0;}
.four-colsec-with-hover-info .col-grid-3 .col {@apply sm:w-1/2 lg:w-1/3 xl:w-2/6 mb-0 px-0;}
.four-colsec-with-hover-info .col-grid-2 .col {@apply sm:w-1/2 lg:w-1/2 mb-0 px-0;}
.four-colsec-with-hover-info .col-grid-1 .col {@apply sm:w-1/2 lg:w-1/3 xl:w-full px-0;}
.gallery-with-full-content.four-colsec-with-hover-info .text-col {@apply bg-aplha-black-88 h-full;}
.gallery-with-full-content.four-colsec-with-hover-info .text-col h6 {@apply text-white;}
.gallery-with-full-content.four-colsec-with-hover-info .text-col p {@apply text-white font-medium opacity-80 text-sm leading-6;}
.gallery-with-full-content.four-colsec-with-hover-info .text-col a {@apply flex gap-3 items-center my-3 text-green text-sm font-medium pt-3;}
.gallery-with-full-content.four-colsec-with-hover-info .col .img-col {@apply mb-0 overlay h-[600px] before:bg-gallery-overlay shadow-gallery duration-700;}

.gallery-with-half-content.four-colsec-with-hover-info .text-col h6 {@apply text-2xl leading-8;}
.gallery-with-half-content.four-colsec-with-hover-info .text-col p {@apply text-xs leading-6;}

.single-advocacy-top {
    @apply relative;
    @apply before:absolute before:w-full before:h-50 before:bg-off-white-100  before:content-[''];
}
.single-advocacy-top .container{
    @apply px-4 lg:px-0;
}
.single-advocacy-top strong {
    @apply text-lg leading-8 font-medium text-black-ish;
}
.single-advocacy-top p {
    @apply text-base leading-7 font-medium text-black-ish opacity-50 my-8;
}
.single-advocacy-top ul {@apply list-disc my-8;}
.single-advocacy-top ul:last-child,
.single-advocacy-top p:last-child {
    @apply mb-0;
}
.single-advocacy-top ul li {
    @apply text-base leading-7 font-medium text-black-ish opacity-50 ml-7 first:list-none first:ml-0;
}
/* .key-issues-slider .col-grid {margin: 0 12px;} */
.key-issues-slider-wrap {padding-left: calc((100vw - 1280px)/2);}
.quote-author {
    @apply text-lg leading-8 font-medium text-dark-green mt-6 block;
}
.membership-title {
    @apply text-lg leading-8 font-medium text-black-ish mb-3;
}
.membership-description {
    @apply text-sm leading-6 font-medium text-black-ish opacity-50;
}
.membership-features p {
    @apply content-with-14 text-white;
}


/* About Us */
* p {
    @apply mb-6;
}

.about-who-we-are{
    @apply before:absolute before:left-0  lg:before:w-2/3 before:w-full before:top-0 before:h-full before:bg-off-white-100  before:content-['']
}
.about-who-we-are h4 {@apply pt-3 pb-6;}
.about-who-we-are p {@apply mb-6 opacity-50 font-medium;}

.rural-industry{
    @apply 2xl:pt-36 pt-16;
}
.rural-industry h5{
    @apply mb-14 text-center;
}
.rural-top-col{
    @apply lg:mb-20 mb-10;
}
.rural-top-col > span{
    @apply  text-mid-green flex flex-wrap items-end;
}
.rural-top-col span num{
    @apply text-4xl leading-9;
}
.rural-top-col span{
    @apply text-mid-green mb-3;
}
.rural-top-col span span{
    @apply  text-lg;
}
.rural-top-col small {
    @apply  text-sm text-black-ish leading-6 w-full opacity-50 font-medium;
}

.rural-bottom p{
    @apply opacity-50 font-medium;
}
.our-vision{
    @apply lg:py-36 py-16;
}
.our-vision .container, .tabbed-top-sec, .tabbed-content .container{
    @apply xl:px-0 px-4;
}
.our-vision h2{
    @apply text-white;
}
.vision-blocks {
    @apply flex items-stretch lg:flex-nowrap flex-wrap gap-x-20 lg:mt-14 lg:pt-14 lg:mb-0 border-t mt-8 mb-8 pt-4;
}
.vision-blocks span {
    @apply label mb-4 text-light-green mt-6 block;
}
.vision-blocks p {
    @apply text-off-white-50 font-medium leading-7;
}
.tabbed-top-sec{
    @apply bg-dark-green text-off-white-100 pt-16 text-center;
}
.tabbed-top-sec ul{
    @apply flex flex-wrap justify-between text-center border-t border-alpha-white pt-9;
}
.tabbed-top-sec ul li{
    @apply relative w-1/3 transition-all hover:transition-all text-lg border-b-8 font-medium text-center border-transparent
     hover:border-white text-white opacity-50 hover:opacity-100 pb-3 cursor-pointer;
   
}
.tabbed-top-sec ul li.active{
    @apply border-white opacity-100;
}
.tabbed-content{
    @apply bg-off-white-100 lg:pt-36 lg:pb-36 pt-20 pb-0;
}
.tabbed-content .content-col {@apply hidden;}
.tabbed-content .content-col.active {@apply block;}
.tabbed-content .content-top {
    @apply mb-16 max-w-screen-md w-full;
}
.tabbed-content .content-top p{
    @apply text-black-ish opacity-50 font-medium;
}
.team-row{
    @apply flex justify-center gap-6 odd:mb-10 flex-wrap even:justify-end;
}
.team-row img{
    @apply w-full object-cover;
}
.team-row h6 {
    @apply pt-6 pb-5;
}
.team-row span{
    @apply green-label border-t border-t-dark-green py-2 block;
} 

.team-single-top{
    @apply pt-36 relative;
    @apply before:absolute before:w-full before:h-96 before:bg-off-white-100 before:top-0 before:z-0 before:content-[''];
}
.single-top-info{
    @apply flex flex-wrap justify-between lg:flex-row flex-col-reverse;
} 
.person-detail{
    @apply lg:py-0 py-8;
}
.person-detail span {
    @apply green-label border-t border-dark-green block pt-2 mt-2;
}
.person-image img{
    @apply block w-full shadow-lg h-96 object-cover object-center;
}

.team-single-top .discription{
    @apply lg:mt-28 mt-4 mb-24 opacity-50 font-medium;
}

.board-info .info-row{
    @apply py-2 border-b border-dark-green border-opacity-5 w-full flex flex-wrap justify-between;
}
.board-info .info-row label{
    @apply md:w-1/4 w-full text-xs uppercase text-dark-green font-medium;
}
.board-info .info-row span{
    @apply md:w-3/4 w-full md:px-6 px-0 text-lg text-black-ish;
}

/* Region Page Or Contact Page */
.address-col span{
    @apply text-black-ish text-xs opacity-50 block font-medium;
}
.address-col p{
    @apply text-sm font-medium text-black-ish mb-4 uppercase;
}
.form-col{
    @apply mb-8;
}
.form-col label{
    @apply block text-sm font-medium text-black-ish mb-1;
}
.list-title{
    @apply gap-4 text-lg text-black-ish flex flex-wrap items-center cursor-pointer py-5;
}
.list-title .num{
    @apply h-9 w-8 bg-no-repeat bg-center flex pt-1 justify-center leading-5 text-white;
}
.accordionItem .address-col{
    @apply my-6;
}
.accordian-icon span{
    @apply border-2 border-dark-green rounded-3xl text-dark-green text-xl font-medium h-5 w-5 flex items-center justify-center;
}
.accordionItem{
    @apply border-b border-aplha-black-16 ;
}
.contact-office{
    @apply py-10 text-black-ish text-base font-medium;
}
.contact-office > span, .stay-conected > span{
    @apply font-medium mb-4 block text-lg;
}
.contact-office li{
    @apply flex flex-wrap items-center gap-3 mb-4;
}
.contact-office li i{
    @apply h-8 w-8 text-mid-green flex items-center justify-center border border-mid-green rounded-2xl;
}
.contact-office li a{
    @apply text-black-ish;
}
.stay-conected ul{
    @apply flex gap-3 items-center text-3xl text-mid-green;
}

.contact-accordian  .accordian-content{
    @apply h-0 transition overflow-hidden;
}
.contact-accordian  .accordionItem.open .accordian-content{
    @apply h-full transition;
}
/***********Membership Slider***********/
.secondry-header ul li a{
    @apply text-black-ish;
}
.secondry-header .site-logo svg path.logo-text {@apply fill-black-ish}
.membership-sticky{@apply h-screen items-center flex flex-wrap left-0 right-0 top-0 w-full; }
.cover{@apply opacity-50 absolute top-0 left-0 right-0 bottom-0 bg-black;}
.swiper-wrapper{    @apply h-auto;}

/*****Filters*******/
.filter-block ul{
    @apply flex flex-wrap text-base text-black-ish gap-5;
}
.filter-block ul li{
    @apply flex flex-wrap text-base text-black-ish gap-4;
}
.filter-block ul label{
    @apply opacity-50;
}
.filter-block ul select{
    @apply border-b-2 border-green font-normal focus:outline-none md:w-40;
}
/*****Classifieds************/

.classifieds-tabbed-sec .tabbed-top-sec{
    @apply bg-off-white-100 shadow-md pt-44 text-black-ish
}

.classifieds-tabbed-sec .tabbed-top-sec h2{
    @apply text-left w-full border-b border-black-ish border-opacity-20;
}
.classifieds-tabbed-sec .tabbed-top-sec ul li{
    @apply text-black-ish w-1/5 hover:border-mid-green;
}
.classifieds-tabbed-sec .tabbed-top-sec ul li.active{
    @apply border-mid-green;
}
.classifieds-tabbed-sec .tabbed-top-sec ul{
    @apply border-0;
}
.classifieds-tabbed-sec .noc{
    @apply text-base text-black-ish font-medium mb-4;
}

.classifieds-tabbed-sec .noc span{
    @apply text-mid-green;
}
.classifieds-blocks{
    @apply pr-4 mr-4;
}
.classifieds-tabbed-sec .tabbed-content{
    @apply pb-0 pt-5;
}
.classifieds-blocks .block{
    @apply bg-white rounded border border-black-ish border-opacity-20 p-8 mb-4;
}

.classifieds-blocks .cat-name{
    @apply text-dark-green mb-4 uppercase text-sm font-medium;
}

.classifieds-blocks .title{
 @apply text-xl text-black-ish mb-4;
}

.classifieds-blocks .disc{
    @apply text-sm text-black-ish text-opacity-50 mb-4;
}
.classifieds-blocks ul{
    @apply flex flex-wrap gap-4 items-center;
}
.classifieds-blocks ul li{
    @apply flex flex-wrap gap-2 items-center;
}
.tab-navigation{
    @apply justify-between items-center 
}
.tab-navigation ul{
    @apply md:w-3/4 w-full
}
.tab-navigation .btn-block{
    @apply md:w-3/12 w-full md:text-right;
}
